<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

          
        <!-- Database connection settings POSTGRE -->
     <!--
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>     
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/helpdesk</property>
        <property name="hibernate.connection.username">root</property>
           <property name="hibernate.connection.password">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        
        -->
        <!-- Database connection settings MYSQL -->
              
        <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>     
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/helpdesk</property>
        <property name="hibernate.connection.username">root</property>
           <property name="hibernate.connection.password">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
      
        
        
        <!-- Set the default schema -->
        <property name="hibernate.default_schema">helpdesk</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">15</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <mapping resource="chamado/Chamado.hbm.xml"/>
        <mapping resource="usuario/Usuario.hbm.xml"/>
        
        
        <mapping resource="relacionamento/Atendimento.hbm.xml"/>
        <mapping resource="relacionamento/ChamadoAtendido.hbm.xml"/>
        <mapping resource="relacionamento/GerenteDeUnidade.hbm.xml"/>
        <mapping resource="relacionamento/ResponsavelDoChamado.hbm.xml"/>
        <mapping resource="relacionamento/TransacaoDeChamado.hbm.xml"/>
        <mapping resource="relacionamento/TecnicoDeUnidade.hbm.xml"/>
        <mapping resource="relacionamento/ChamadosRepassados.hbm.xml"/>
        <mapping resource="transacao/Transacao.hbm.xml"/>
        <mapping resource="tipo/Tipo.hbm.xml"/>
        <mapping resource="tipo/Subtipo.hbm.xml"/>
        
        <mapping resource="bancoDeSolucao/Artigo.hbm.xml" /> 
  		<mapping resource="bancoDeSolucao/FAQ.hbm.xml" />  
        <mapping resource="bancoDeSolucao/Solucao.hbm.xml" /> 
        <mapping resource="config/Config.hbm.xml" />
        
  		
                  
    </session-factory>

</hibernate-configuration>

