<style type="text/css">
#corpo {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	background-color:#FFFFFF;
}

#menuhor {
border:none;
margin: 0;
font: 9px Arial, sans-serif;
}
#menuhor li {
list-style: none; 
margin: 0;
display: inline;
}
#menuhor li a {
height:1px; /* IE5.0 bug */
padding: 3px 1px; 
margin:0;
border: 1px solid #f00; 
background: #999;
text-decoration: none;
}
#menuhor li a:link {
color: #fff;
}
#menuhor li a:visited {
color: #fff;
}
#menuhor li a:hover {
background: #ccc;
color: #000; 
border-color: #000;
}

html {
}

body {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Verdana, Arial, Georgia, sans-serif;
	font-size: 11pt;	
	text-align: center;
	background: #797979 url(imagens/backy.jpg) repeat center top;
}

#container {
	margin: 0px auto;
	padding: 0;
	width: 696px;
	border: none;
	text-align: left;
	background-image: url(test/footerbg.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 70px;
}

#menu a, #menu a:visited {
	text-decoration: none;
	color: #D7661C;
	border-bottom: none;
} 

#cabecalho{
	background-image: url(imagens/fundotopo.png);
}

#tabela_menu{
background:url(imagens/back.png);
}

#cab_criador{
	color:#666666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	text-align:left;
}

#cab_user{
	color:#818181;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	text-align:right;
}

#capro{
	width:201px;
	height:572px;
	position:relative;
	background:url(imagens/logocapro.png) ;
}
#capro_barra{
	width:201px;
	position:relative;
	background:url(imagens/logo_barra.png) repeat;
}

#none{
	border: none;
	background-color: #FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
}
#combo2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
#combo,#comboSubTipo,#comboTipo,#comboUnidade,#comboTecnico,#comboUnidadeNova{
	font-size:9px;
	border: 1px solid #767676;
	background-color: #E9E9E9;
	color: #030000;
}

#corpo {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	background-color:#FFFFFF;
}

#corpo2 {
	background-color:#FFFFFF;
}

#campo {
	font-size:12px;
}


p {
	margin-bottom: 7px;
}

p.msg{
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	font-size:14pt;
	font-weight:bold;
}

.listagem_cabecalho{
	background-color:#C0C0C0;
	text-align:center;
	font-weight:bold;
}

.listagem_linha{
	background-color:#EAEAEA;
	text-align:center;
}

#msg{
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	font-size:14pt;
	font-weight:bold;
}


#variavel{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:#D7661C;
}

input{
	font-size:9px;
	border: 1px solid #767676;
	background-color: #E9E9E9;
	color: #030000;
}

input:hover{
	border: 1px solid #767676;
	background-color: #D5D5D5;
	color: #030000;
}

TEXTAREA{
	font-size:8pt;
	border: 1px solid #767676;
	background-color: #E9E9E9;
	color: #030000;
}

TEXTAREA:HOVER{
	font-size:8pt;
	border: 1px solid #767676;
	background-color: #D5D5D5;
	color: #030000;
}


a,a:visited {
	text-decoration: none;
	color: #D7661C;
}

a:hover {
	text-decoration: none;
	color: #9F240F;
}

a img {
	border: none;
}

acronym {
	text-decoration: none;
	color: #D7661C;
	border-bottom: 1px dotted #ccc;
	cursor: help;
}

#search {
	padding-top: 15px;
	background-color: #fff;
	font-weight: normal;
}

#linkList input {
	padding-right: 5px;
	padding-left: 5px;
	border: 1px solid #EBEBEB;
	background-color: #fff;
	width: 110px;
}

#linkList input.button {
	width: 70px;
	height: 20px;
}

#linkList input.button:hover {
	border: 1px solid #993300;
	background-color: #D94904;
	color: #fff;
}

/* ================================= FOOTER ================================= */
#footer {
	text-align: left;
	padding-left: 63px;
	padding-top: 140px;
}

#footer a,#footer a:visited {
	padding: 5px;
	border: 1px solid #EBEBEB;
	background-color: #fff;
}

#footer a:hover {
	padding: 5px;
	border: 1px solid #993300;
	background-color: #D94904;
	color: #fff;
}

/*

/* ================================ HEADER ================================== /
#header {
	background-image: url(test/htmlbg.jpg);
	background-position: center; 
	background-repeat: repeat-x; 
}

/* ================================= MENU =================================== 
#menu { 
	background-image: url(images/menu_background.png);
	background-repeat: repeat-x;
}
#menu ul {
	border-left: solid 1px #000;
	border-right: solid 1px #666;
}
#menu ul li { 
	border-left: solid 1px #666;
	border-right: solid 1px #000;
}
#menu ul li a {
	color: #fff;
	background-color: inherit;
	text-decoration: none;
}
#menu ul li a:hover {
	color: #fff;
	background-color: #333; 
}

/* ================================== BODY ==================================  
#preamble, #explanation, #participation, #benefits, #requirements{
	top: 150px;
	position: relative;
	left: 63px;
	color: #B0A77E;
	width: 340px;
	padding-bottom: 29px;
	text-align: justify;
}

#body {
	background-color: #fff;
	color: #000;
} 
#body h1 a, #body h2 a, #body h3 a, #body h4 a, #body h5 a {
	font-size: 1em;
	font-family: inherit;
	color: #8c2121;
	background-color: inherit;
}
#body h1 { 
	font-family: Georgia, "Times New Roman", serif;
	font-weight: bold;
	font-size: 2em;
	color: #8c2121; 
	background-color: inherit;  
	border-bottom: solid 1px #dbdbc5;  
} 
#body h2 { 
	font-family: Georgia, "Times New Roman", serif;
	font-weight: normal;
	font-size: 1.3em;
	color: #8c2121;
	background-color: inherit;
	border-bottom: solid 1px #dbdbc5;
}
#body h3 { 
	font-family: Georgia, "Times New Roman", serif;
	font-weight: bold;
	font-size: 1em;
	color: #8c2121;
	background-color: inherit;
	border-bottom: solid 1px #dbdbc5;
} 
#body h4, #body h5 {
	font-family: Georgia, "Times New Roman", serif;
	font-weight: bold;
	font-size: 1em;
	color: #8c2121;
	background-color: inherit;
}


ol { 
	line-height: 1.5em;
	margin: 0 0 .5em 1.5em;
	padding: 0;
}
ul {
	line-height: 1.5em;
	list-style-type: square;
	margin: 0 0 .5em 1.5em;
	padding: 0;
	list-style-image: url(images/bullet.gif);
}

.code { 
	border-top: solid 1px #acacbb;
	border-right: solid 1px #acacbb;
	border-bottom: solid 1px #acacbb;
	border-left: solid 3px #acacbb;
	background-color: #f7f9fa;
	color: inherit;
}
.code, .code * { 
	font-size: 1em;
	font-family: "Courier New",Courier,monospace;
}

#body input {
	border: solid 1px #8cacbb;
}
#body input:hover { 
	border: solid 1px #000;
}

/* ********* TABLES ********* 
#body table { border: solid 1px #999; }
#body table th { border: solid 1px #999; background-color: #eee; }
#body table td { border: solid 1px #ccc; background-color: #fff; }
#body table tr:hover { background-color: #ffffe5; } 

 
/* ================================= FOOTER ================================= 
#footer {
	background-color: #dfdec9;
	color: #000;
} 
#footer li a {
	border: solid 1px #8cacbb;
	background-color: #efebe7;
	color: #000;
	text-decoration: none;
	white-space: nowrap;
}
#footer li a:hover {
	border: solid 1px #000;
	background-color: #efebe7;
	color: #000;
} 
#footer input {
	border: solid 1px #8cacbb;
}
#footer input:hover {
	border: solid 1px #000;
}


</style>